<style>
    .container {width: 100%;margin: auto;}
    @media (min-width: 600px) {.container {width: 80%;}}
    @media (min-width: 768px) {.container {width: 60%;}}
    @media (min-width: 1024px) {.container {width: 50%;}}
</style>

<div class="container">
<img src="">
<h2>Hi, {{r,}} how can I help you today?</h2>

<form action="prediction" method="post">
    
    <input type="submit" value="To predict DBS value">
</form>
<form action="generate_text" method="post">
    
    <input type="submit" value="To generate texts">
</form>
<form action="generate_image" method="post">
    
    <input type="submit" value="To generate image">
</form>


<form action="user_logs" method="post">

    <input type="submit" value="Get logs">
</form>
    

</div>